joblib==1.4.2
matplotlib==3.9.2
nfl_data_py==0.3.3
numpy==2.1.2
pandas==1.5.3
pmdarima==2.0.4
python_bcrypt==0.3.2
pytz==2024.2
scikit_learn==1.5.2
seaborn==0.13.2
SQLAlchemy==2.0.36
statsmodels==0.14.4
streamlit==1.39.0
